//Indigo
$indigo: #4F008C;
.color-indigo {
  color: $indigo;
}
.text-indigo {
  color: $indigo !important;
}
.bg-indigo {
  background-color: $indigo;
}

//Mandarina
$mandarina: #FFA167;
.color-mandarina {
  color: $mandarina;
}
.text-mandarina {
  color: $mandarina !important;
}
.bg-mandarina {
  background-color: $mandarina;
}

//Bermuda
$bermuda: #7DDBD4;
.color-bermuda {
  color: $bermuda;
}
.text-bermuda {
  color: $bermuda !important;
}
.bg-bermuda {
  background-color: $bermuda;
}


//Azulejo
$azulejo: #2a009a;
.color-azulejo {
  color: $azulejo;
}
.text-azulejo {
  color: $azulejo !important;
}
.bg-azulejo {
  background-color: $azulejo;
}