@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
.color-indigo {
  color: #4F008C;
}

.text-indigo {
  color: #4F008C !important;
}

.bg-indigo {
  background-color: #4F008C;
}

.color-mandarina {
  color: #FFA167;
}

.text-mandarina {
  color: #FFA167 !important;
}

.bg-mandarina {
  background-color: #FFA167;
}

.color-bermuda {
  color: #7DDBD4;
}

.text-bermuda {
  color: #7DDBD4 !important;
}

.bg-bermuda {
  background-color: #7DDBD4;
}

.color-azulejo {
  color: #2a009a;
}

.text-azulejo {
  color: #2a009a !important;
}

.bg-azulejo {
  background-color: #2a009a;
}

.font-bold {
  font-weight: 700;
}

body,
html {
  font-family: "Nunito Sans", sans-serif;
  height: auto !important;
}

.feather-16 {
  width: 16px !important;
  height: 16px !important;
}

.feather-24 {
  width: 24px !important;
  height: 24px !important;
}

.feather-32 {
  width: 32px !important;
  height: 32px !important;
}

.prof-item {
  min-height: 250px;
  overflow: hidden;
  position: relative;
}
.prof-item a.over-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.prof-item .prof-img {
  min-height: 250px;
}
.prof-item p.card-text {
  line-height: 1.2em;
}
.prof-item .badge-pill {
  background-color: #7DDBD4;
  color: #2a009a;
}

#subida-galeria.card-body {
  padding: 10px;
}

.file-drop-zone {
  padding: 0;
  margin: 0;
}
.file-drop-zone.clickable:hover {
  border: 1px dashed #000;
}

.file-preview {
  padding: 0;
  border: none;
}

@media only screen and (max-device-width: 768px) {
  .file-input .input-group-append {
    display: flex;
    flex-direction: column;
  }
  .file-input .input-group-append button {
    margin-bottom: 5px;
  }
}

.file-preview-thumbnails {
  display: block;
  /* para dispositivo */
}
@media only screen and (max-device-width: 768px) {
  .file-preview-thumbnails > div {
    border: 1px solid #000;
    width: 44%;
    margin: 1.5%;
    float: left;
    display: block;
  }
  .file-preview-thumbnails > div img {
    width: 100% !important;
    height: auto !important;
  }
  .file-preview-thumbnails > div .file-preview-frame {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  .file-preview-thumbnails > div .file-preview-frame .kv-file-content {
    width: 100% !important;
    height: 100px !important;
  }
  .file-preview-thumbnails > div .file-footer-caption {
    text-align: left;
    margin-bottom: 15px;
  }
}

#topnav-home {
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 999;
}
#topnav-home a.nav-link {
  color: #2a009a;
  text-transform: uppercase;
  font-size: 16px;
}

button.navbar-toggler[aria-expanded=false] {
  border: 1px solid #2a009a;
}

a.nav-link .feather {
  vertical-align: middle;
}

#topNavDashboards .navbar-brand img {
  height: 1.8rem;
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#tableCarrito {
  margin-bottom: 0 !important;
}

#modalCarrito .modal-dialog {
  max-width: 768px;
}

#single img.rounded-circle {
  width: 85%;
}
#single .header-single {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  /* para browser */
  /* para dispositivo */
}
@media (max-width: 768px) {
  #single .header-single {
    height: 55vh;
  }
}
@media only screen and (max-device-width: 768px) {
  #single .header-single {
    height: 55vh;
  }
}
#single .info-profile {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#single .prof-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  /* para browser */
  /* para dispositivo */
}
@media (max-width: 768px) {
  #single .prof-pic {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-device-width: 768px) {
  #single .prof-pic {
    width: 100px;
    height: 100px;
  }
}

input[placeholder] {
  padding-left: 0.5em;
}
input[placeholder]::placeholder {
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.8em;
}

ul[id*=list] li {
  padding-top: 4px;
  padding-bottom: 1px;
}
ul[id*=list] li:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
ul[id*=list] span {
  background-image: url(../assets/img/x.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  cursor: pointer;
}

.choices__list--dropdown {
  z-index: 99;
}

.choices__inner {
  border-radius: 5px;
}

.choices__list--multiple .choices__item {
  background-color: #2a009a;
  border: 1px solid #2a009a;
}

#chars {
  font-size: 0.8em;
}

.form-control#textareaProf {
  min-height: 500px;
  line-height: 1.3em;
  font-size: 1.125em;
}

th.fc-col-header-cell {
  background-color: white !important;
}

td.fc-daygrid-day {
  background-color: rgba(0, 255, 0, 0.1) !important;
  cursor: pointer;
}
td.fc-daygrid-day:hover {
  background-color: rgba(0, 255, 0, 0.3) !important;
}

td.fc-daygrid-day.dis {
  background-color: rgba(255, 0, 0, 0.1) !important;
  cursor: not-allowed;
}

select[id|=select].form-control.mb-3 {
  height: calc(1em + 1.75rem + 10px);
}
