// Índice
// 00 - Paleta de colores
// 01 - Fonts
// 02 - Masonry
// 03 - File drop
// 04 - Topnav
// 05 - Home
// 06 - Carrito
// 07 - Animaciones
// 08 - Single

//Agregar índeces a medida que se van creando estilos customizados

//////////////////////////////// 00 - Paleta de colores
@import "colores";

//////////////////////////////// 01 - Fonts
@import "fonts";

body,
html {
  font-family: "Nunito Sans", sans-serif;
  height: auto!important;
}
.feather-16 {
  width: 16px !important;
  height: 16px !important;
}

.feather-24 {
  width: 24px !important;
  height: 24px !important;
}

.feather-32 {
  width: 32px !important;
  height: 32px !important;
}

//////////////////////////////// 02 - Perfiles profesionales
.prof-item {
  min-height: 250px;
  overflow: hidden;
  position: relative;
  //border: 1px solid #000;
  a.over-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .prof-img {
    min-height: 250px;
  }
  p.card-text {
    line-height: 1.2em;
  }
  .badge-pill {
    background-color: $bermuda;
    color: $azulejo;
  }
}

//////////////////////////////// 03 - File drop
#subida-galeria.card-body {
  padding: 10px;
}
.file-drop-zone {
  padding: 0;
  margin: 0;
  &.clickable {
    &:hover {
      border: 1px dashed #000;
    }
  }
}
.file-preview {
  padding: 0;
  border: none;
}
.file-input {
  @media only screen and (max-device-width: 768px) {
    .input-group-append {
      display: flex;
      flex-direction: column;
      button {
        margin-bottom: 5px;
      }
    }
  }
}
.file-preview-thumbnails {
  display: block;
  /* para dispositivo */
  @media only screen and (max-device-width: 768px) {
    > div {
      border: 1px solid #000;
      width: 44%;
      margin: 1.5%;
      float: left;
      display: block;
      img {
        width: 100% !important;
        height: auto !important;
      }
      .file-preview-frame {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;
        .kv-file-content {
          width: 100% !important;
          height: 100px !important;
        }
      }
      .file-footer-caption {
        text-align: left;
        margin-bottom: 15px;
      }
    }
  }
}
//////////////////////////////// 04 - Topnav
#topnav-home {
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 999;
  a.nav-link {
    color: $azulejo;
    text-transform: uppercase;
    font-size: 16px;
  }
}
button.navbar-toggler[aria-expanded="false"] {
  border: 1px solid $azulejo;
}
a.nav-link {
  .feather {
    vertical-align: middle;
  }
}
#topNavDashboards {
  .navbar-brand {
    img {
      height: 1.8rem;
    }
  }
}
#navbarSupportedContent {
  justify-content: flex-end;
}

//////////////////////////////// 05 - Home
@mixin bgcover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-cover {
  @include bgcover;
}

//////////////////////////////// 06 - Carrito
//Tabla carrito
#tableCarrito {
  margin-bottom: 0 !important;
}
//Modal Carrito
#modalCarrito {
  .modal-dialog {
    max-width: 768px;
  }
}

//////////////////////////////// 08 - Single
@mixin cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#single {
  img.rounded-circle {
    width: 85%;
  }
  .header-single {
    height: 50vh;
    @include cover;
    position: relative;
    /* para browser */
    @media (max-width: 768px) {
      height: 55vh;
    }
    /* para dispositivo */
    @media only screen and (max-device-width: 768px) {
      height: 55vh;
    }
  }
  .info-profile {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .prof-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    @include cover;
    position: relative;
    /* para browser */
    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
    /* para dispositivo */
    @media only screen and (max-device-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

//Categorias
input[placeholder] {
  padding-left: 0.5em;
  &::placeholder {
    color: rgba(0, 0, 0, 0.9);
    font-size: 0.8em;
  }
}
ul[id*="list"] {
  li {
    padding-top: 4px;
    padding-bottom: 1px;
    &:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
  span {
    background-image: url(../assets/img/x.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    cursor: pointer;
  }
}

//Choices
.choices__list--dropdown {
  z-index: 99;
}
.choices__inner {
  border-radius: 5px;
}

.choices__list--multiple .choices__item {
  background-color: $azulejo;
  border: 1px solid $azulejo;
}

//Perfil
//largo  del perfil
#chars {
  font-size: 0.8em;
}
.form-control#textareaProf {
  min-height: 500px;
  line-height: 1.3em;
  font-size: 1.125em;
}

//Calendario y reserva
th.fc-col-header-cell {
  background-color:rgb(255, 255, 255)!important;
}

td.fc-daygrid-day {
  background-color:rgba(0, 255, 0, 0.1)!important;
  cursor: pointer;
  &:hover {
    background-color:rgba(0, 255, 0, 0.3)!important;
  }
}

td.fc-daygrid-day.dis {
  background-color:rgba(255,0,0,.1)!important;
  cursor: not-allowed;
}

select[id|="select"].form-control.mb-3 {
  height: calc(1em + 1.75rem + 10px);
}